<div class="header">
    <a [routerLink]="'/dashboard'"
        class="header_link">
        <h1>PLAYFUL</h1>
    </a>
</div>

<nav class="navigation">
    
    <ul class="mob-menu">
        <li class="nav_link_icon"><i class="fas fa-align-justify"></i></li>
        <li class="nav_link_icon"><i class="fas fa-clipboard-list"></i></li>
        <li class="nav_link_icon"><i class="fab fa-angular"></i></li>
        <li class="nav_link_icon"><i class="fas fa-ankh"></i></li>
        <li class="nav_link_icon"><i class="fas fa-khanda"></i></li>
        <li class="nav_link_icon"><i class="fab fa-drupal"></i></li>
        <li class="nav_link_icon"><i class="far fa-life-ring"></i></li>
    </ul>

    <ul>
        <li class="nav_link">Home</li>
        <li class="nav_link">ToDos</li>
        <li class="nav_link">Bonapart</li>
        <li class="nav_link">Lorem</li>
        <li class="nav_link">Ipsum</li>
        <li class="nav_link">Dolor</li>
        <li class="nav_link">Sit</li>
    </ul>
</nav>

<app-auth></app-auth>
